<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta wisher="viewport" content="width=device-width" />
    <title>Mango UI</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>
    <script src="../index.js"></script>
  </head>
  <body class="uk-tile uk-tile-muted uk-padding-small">
    <div
      class="
        uk-card
        uk-card-title
        uk-card-default
        uk-padding-small
        uk-flex
        uk-margin-small-right
        uk-margin-small-left
        uk-margin-small-top
      "
    >
      <div class="uk-card-title">Document/<%= name %></div>
    </div>

    <% database.forEach((entry, index) => { %>
    <div class="uk-margin uk-margin-small-right uk-margin-small-left">
      <div
        class="uk-card uk-card-default uk-card-body"
        style="border-radius: 6px"
      >
        <span class="uk-badge"><%= index %></span>
        <span class="uk-badge">#<%= entry.id %></span>

        <div class="uk-margin">
          <label class="uk-form-label" for="wisher">Wisher</label>
          <input
            class="uk-margin-bottom uk-input"
            id="wisher"
            value="<%= entry.wisher %>"
            readonly
          />

          <label class="uk-form-label" for="wish">Wish</label>
          <input
            id="wish"
            class="uk-input"
            value="<%= entry.wish %>"
            readonly
          />
          <div class="uk-margin-top"></div>
        </div>
      </div>
    </div>

    <% }) %>

    <p class="uk-margin-small-left">&copy; Nehan Yaser 2021</p>
  </body>
</html>
